ion-content {
    --background: white;
    text-align: center;
    display: flex;
    align-items: center;
    .logo {
      padding-top: 120px;
      display: grid;
      align-items: center;
      justify-content: center;
    }
    .title {
      font-size: var(--font-9);
      color: var(--ion-color-dark);
      font-family: DmSans-Bold;
      line-height: 20px;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 42px;
    }
    .description {
      line-height: 22px;
      font-size: var(--font-2);
      font-family: DmSans-Regular;
      margin-left: 25px;
      margin-right: 25px;
      text-align: left;
      color: var(--divider);
      margin-top: 18px;
    }
    .form {
      padding: 25px;
      text-align: left;
      width: 100%;
      text-align: center;
      padding-top: 15px;
      .inputs {
        font-family: DmSans-Regular;
        margin-top: 20px;
        border-radius: 65px;
        border: 1px solid #969696;
        font-size: var(--font-3);
        text-align: left;
        color: black;
        --placeholder-color: black;
        overflow: auto;
        margin-bottom: 3px;
        align-items: center;
        .icons {
          margin-right: 10px;
        }
        label {
          color: var(--ion-color-light-shade);
        }
      }
      .inputs:hover {
        border: 1px solid var(--dark);
        border-radius: 65px;
        overflow: auto;
        ion-input {
          color: var(--dark);
          font-family: DmSans-Medium;
          --placeholder-color: var(--dark);
        }
      }
      .error {
        color: var(--auth-button);
        font-size: var(--font-1);
        margin-left: 10px;
        display: flex;
        text-align: left;
      }
      .red-btn {
        // display: flex;
        align-self: center;
        --background: var(--auth-button);
        font-weight: 500;
        border-radius: 5px;
        margin-top: 30px;
        --border-radius: 65px;
        .button-text {
          font-family: DmSans-Regular;
          font-size: var(--font-4);
          color: var(--ion-color-white);
          padding-left: 30px;
          padding-right: 30px;
          color: white;
        }
      }
      .red-btn:hover {
        --background: var(--auth-button);
        color: white;
      }
    }
  }
  .spinner {
    position: absolute;
    backdrop-filter: blur(5px);
    z-index: 9999999999;
    display: flex;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    ion-spinner {
      --color: var(--auth-button);
    }
  }
  