<ion-toast
  [isOpen]="openToast"
  position="top"
  duration="infinite"
  [message]="toastMessage"
  color="danger"
  class="custom-toast"
  [buttons]="toastButtons"
></ion-toast>
<ion-buttons
  style="position: absolute; top: 24px; left: 16px"
  (click)="onBack()"
>
  <img src="../../assets/back-button.svg" />
</ion-buttons>
<ion-content class="page">
  <ion-col class="logo">
    <ion-row>
      <img src="../../assets/forgot-password.svg" />
    </ion-row>
  </ion-col>
  <ion-row class="title"> Forgot Password </ion-row>
  <ion-row class="description">
    Please Enter Your email address to receive a verification code.
  </ion-row>
  <ion-grid class="form">
    <form [formGroup]="forgot_password" (ngSubmit)="onSubmit()">
      <ion-item fill="none" lines="none" class="inputs">
        <img src="../../assets/mail.svg" class="icons" />
        <ion-input
          placeholder="Enter E-mail..."
          type="text"
          required
          name="email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <span
        class="error"
        *ngIf="isSubmitted && forgot_password?.controls?.email?.errors?.['required']"
      >
        Email is required.
      </span>
      <span
        class="error"
        *ngIf="isSubmitted && forgot_password?.controls?.email?.errors?.['email']"
      >
        Please enter valid email.
      </span>
      <ion-button class="red-btn" full type="submit" fill="none">
        <ion-label class="button-text"> Send </ion-label>
      </ion-button>
    </form>
  </ion-grid>
</ion-content>
<div *ngIf="spinner" class="spinner">
  <ion-spinner name="lines-sharp"></ion-spinner>
</div>
